* {
    margin: 0px;
}
body {
    background: rgb(217, 219, 241)
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 35px;
    display: block;
}
h2 {
    font-family: "Merriweather", serif;
    font-size: 36px;
    text-align: center;
}
strong {
    text-transform: uppercase;
}
.decoration {
    margin: 0px;
    padding: 0px;
    display: block;
}
.simpletext {
    font-family: "Merriweather", serif;
    font-size: 18px;
    display: block;
    margin: 0px;
    background-color: rgb(173, 7, 22,.2) ;
    list-style: none;
}
.bigger {
    font-size: 26px;
}

#picture {
    border-radius: 100%;
    display: block;
    margin: 10px;
    padding: 7px;
    background-color: rgb(255, 144, 0);
}
#about {
    clear: both;
}
p, section > ul {
    font-size: 20px;
    text-align: center;
}
footer {
    text-align: center;
}