* {
    margin: 0px;
}
body {
    background: rgb(217, 219, 241)
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
}
h2 {
    font-family: "Merriweather", serif;
    font-size: 36px;
}
figcaption {
    font-family: "Merriweather", serif;
    font-size: 18px;
    display: block;
}
strong {
    text-transform: uppercase;
}
.decoration {
    font-size: 26px;
    text-decoration: none;
}
#picture {
    border-radius: 100%;
    display: block;
}
p {
    font-size: 20px;
}
footer {
    text-align: center;
}